# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pdf

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
dist/
*.egg-info/
*.eggs/
*.devcontainer

# PyInstaller
*.manifest
*.spec
*.vscode
*.vs
*.github

# Installer logs
debug.log

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Python virtual environments
venv/

# Logs
*.log

# Fonts
*.pkl
*.ttf

# Ignore static files
static/*.pdf